$color-primary: #e25822;
$color-white: #fff;
$color-black: #000;

input {
    width: 100%;

    font-family: inherit;
    margin-top: 1rem;
    padding: .5rem;

}

select {

    font-family: inherit;
    margin-top: 1rem;
    padding: 1rem;
    width: 10rem;
}

.padDown {
    margin-top: 12rem;
}

.intuitiveAtm {
    background-image: linear-gradient(to bottom right, rgba($color-primary, 0.7), rgba($color-primary, 0.6));
    position: relative;
    background-size: cover;
    height: 100vh;
    overflow: hidden;


    &Card {
        position: relative;
        top: 8%;
        left: 13%;
    }

    &Form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 30%;
        height: 40rem;
        padding: 1rem 3rem;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 .8rem .9rem rgba($color-black, 0.9);


        &Span {
            background-image: linear-gradient(to bottom right, rgba($color-black, 0.7), rgba($color-black, 0.6));
            display: block;
            background-clip: text;
            color: transparent;
            font-size: 1.2rem;
            text-align: left;


        }

        &Block {
            display: flex;

            &1 {
                margin-left: 1rem;
            }
        }
    }
}

.btn {
    font-family: inherit;
    width: 100%;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 3px;
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    margin: 1rem 0;
}

.cvv {
    width: 10rem;
    font-family: inherit;
    margin-top: 1rem;
    padding: 1rem;
}