@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Kulim Park', sans-serif;
  line-height: 1.1;

}

.u-margin {
  margin: 1rem 0 1rem 0;
}